<div fxLayout="column" class="newcampaignmain">
    <div class="newcampaigntitle">Start new Campaign</div>
    <div fxFlex="100" fxLayout="row"> 
        <div fxFlex="70" class="campaignbg">
            <div fxLayout="row">
                <div fxFlex="50" class="leftsection" fxLayout="column">
                    <div class="lefttitle">Campaign Title</div>
                    <div class="leftdesc">Enter the title of the campaign.</div>    
                </div>
                <div fxFlex="50" class="rightsection">              
                    <input [(ngModel)]="campaigntitle">
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50" class="leftsection" fxLayout="column">
                    <div class="lefttitle">Campaign Description</div>
                    <div class="leftdesc">A short description of the campaign.</div>    
                </div>
                <div fxFlex="50" class="rightsection">              
                    <textarea [(ngModel)]="campaigndesc"></textarea>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50" class="leftsection" fxLayout="column">
                    <div class="lefttitle">Target Amount</div>
                    <div class="leftdesc">Amount targeted to collect in this campaign.</div>    
                </div>
                <div fxFlex="50" class="rightsection">              
                    <input [(ngModel)]="targetamount">
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50" class="leftsection" fxLayout="column">
                    <div class="lefttitle">Campaign Start Date</div>
                    <div class="leftdesc">Set the start date for this campaign.</div>    
                </div>
                <div fxFlex="50" class="rightsection">              
                        <mat-form-field style="max-width: 72%; margin-left: 2rem;" class="due-date" appearance="outline" class="pr-sm-8" fxFlex="50">
                                <mat-label>Start date</mat-label>
                                <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate">
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50" class="leftsection" fxLayout="column">
                    <div class="lefttitle">Campaign Expires On</div>
                    <div class="leftdesc">Set the end date for this campaign.</div>    
                </div>
                <div fxFlex="50" class="rightsection">              
                        <mat-form-field style="max-width: 72%; margin-left: 2rem;" class="due-date" appearance="outline" class="pr-sm-8" fxFlex="50">
                                <mat-label>Due date</mat-label>
                                <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="dueDate">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                    <div fxFlex="50" class="leftsection" fxLayout="column">
                         
                    </div>
                    <div fxFlex="50" class="rightsection">    
                            <mat-checkbox>Eligible for tax Exemption</mat-checkbox> 
                    </div>
                </div>

            <div fxLayout="row">
                <div fxFlex="50"  fxLayout="column">
                     
                </div>
                <div fxFlex="50" class="buttonsection" fxLayout="row">
                    <div class="cancel" (click)="onCancel()">Cancel</div>
                    <div class="submit" (click)="onSubmit()">Apply</div>
                </div>
            </div>
        </div>
     
    </div>
     
</div>